@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.card-body{
  background-color: blue;
  color: white;
}
.navbar{
background-color:#05122d;
}
